.checkout-container{
    margin-right: 0;
    margin-left: 1rem;
}

.checkout-form{
    margin-top: 5rem !important;
    text-align: center;
    height: fit-content;
    input{
        width: 60%;
    }
    textarea {
        width: 60%;
    }
}